@{
    var products = ViewBag.Products;
}

<h2>Create Invoice</h2>

<form method="post">

    <div id="items">
        <div class="item">
            <select name="productIds">
                @foreach (var p in products)
                {
                    <option value="@p.Id">@p.Name - @p.Price</option>
                }
            </select>

            <input type="number" name="quantities" placeholder="Quantity" />
        </div>
    </div>

    <br />

    <button type="button" onclick="addItem()">➕ Add Product</button>

    <br /><br />

    <button type="submit">Save Invoice</button>
</form>

<script>
    function addItem() {
        var html = `
        <div class="item">
            <select name="productIds">
                ${document.querySelector('select').innerHTML}
            </select>
            <input type="number" name="quantities" placeholder="Quantity" />
        </div>
        `;
        document.getElementById("items").innerHTML += html;
    }
</script>



<input type="number" name="quantities" oninput="calculateTotal()" />


<h3>Total: <span id="total">0</span></h3>

<script>
    function calculateTotal() {
        let total = 0;

        let selects = document.getElementsByName("productIds");
        let quantities = document.getElementsByName("quantities");

        for (let i = 0; i < selects.length; i++) {
            let priceText = selects[i].options[selects[i].selectedIndex].text;
            let price = parseFloat(priceText.split('-')[1]);

            let qty = parseInt(quantities[i].value) || 0;

            total += price * qty;
        }

        document.getElementById("total").innerText = total;
    }
</script>

